In [8]:
import requests

In [29]:

url = 'https://api.github.com/repos/pandas-dev/pandas/issues'
resp = requests.get(url)
resp

In [33]:
import json
import pandas as pd

In [37]:
data = resp.json()

In [41]:
data[0]

{'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/29336',
 'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
 'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/29336/labels{/name}',
 'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/29336/comments',
 'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/29336/events',
 'html_url': 'https://github.com/pandas-dev/pandas/pull/29336',
 'id': 516541502,
 'node_id': 'MDExOlB1bGxSZXF1ZXN0MzM1Nzg2ODAz',
 'number': 29336,
 'title': 'BUG: Categorical.from_codes should not warn on empty codes',
 'user': {'login': 'topper-123',
  'id': 26364415,
  'node_id': 'MDQ6VXNlcjI2MzY0NDE1',
  'avatar_url': 'https://avatars1.githubusercontent.com/u/26364415?v=4',
  'gravatar_id': '',
  'url': 'https://api.github.com/users/topper-123',
  'html_url': 'https://github.com/topper-123',
  'followers_url': 'https://api.github.com/users/topper-123/followers',
  'following_url': 'https://api.github.com/users/topper-123/following{/other_user}',
  'gists_url': 'https://api.github.com/users/topper-123/gists{/gist_id}',
  'starred_url': 'https://api.github.com/users/topper-123/starred{/owner}{/repo}',
  'subscriptions_url': 'https://api.github.com/users/topper-123/subscriptions',
  'organizations_url': 'https://api.github.com/users/topper-123/orgs',
  'repos_url': 'https://api.github.com/users/topper-123/repos',
  'events_url': 'https://api.github.com/users/topper-123/events{/privacy}',
  'received_events_url': 'https://api.github.com/users/topper-123/received_events',
  'type': 'User',
  'site_admin': False},
 'labels': [{'id': 76811,
   'node_id': 'MDU6TGFiZWw3NjgxMQ==',
   'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Bug',
   'name': 'Bug',
   'color': 'e10c02',
   'default': False},
  {'id': 78527356,
   'node_id': 'MDU6TGFiZWw3ODUyNzM1Ng==',
   'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Categorical',
   'name': 'Categorical',
   'color': 'e11d21',
   'default': False}],
 'state': 'open',
 'locked': False,
 'assignee': None,
 'assignees': [],
 'milestone': None,
 'comments': 0,
 'created_at': '2019-11-02T09:08:09Z',
 'updated_at': '2019-11-02T09:08:39Z',
 'closed_at': None,
 'author_association': 'CONTRIBUTOR',
 'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/29336',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/29336',
  'diff_url': 'https://github.com/pandas-dev/pandas/pull/29336.diff',
  'patch_url': 'https://github.com/pandas-dev/pandas/pull/29336.patch'},
 'body': "Empty codes should not warn about float codes:\r\n\r\n```python\r\n>>> pd.Categorical.from_codes([], ['a', 'b', 'c']) \r\nC:\\Users\\TP\\Miniconda3\\envs\\pandas-dev\\Scripts\\ipython:1: FutureWarning: float codes will be disallowed in the future and raise a ValueError\r\n```\r\n"}

In [44]:
issues = pd.DataFrame(data)
issues

,url,repository_url,labels_url,comments_url,events_url,html_url,id,node_id,number,title,...,assignee,assignees,milestone,comments,created_at,updated_at,closed_at,author_association,pull_request,body
0,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/29336,516541502,MDExOlB1bGxSZXF1ZXN0MzM1Nzg2ODAz,29336,BUG: Categorical.from_codes should not warn on...,...,None,[],None,0,2019-11-02T09:08:09Z,2019-11-02T09:08:39Z,None,CONTRIBUTOR,{'url': 'https://api.github.com/repos/pandas-d...,Empty codes should not warn about float codes:...
1,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/29335,516487611,MDExOlB1bGxSZXF1ZXN0MzM1NzM4MjQz,29335,Remove FrozenNDArray,...,None,[],{'url': 'https://api.github.com/repos/pandas-d...,1,2019-11-02T05:45:46Z,2019-11-02T07:19:58Z,None,MEMBER,{'url': 'https://api.github.com/repos/pandas-d...,- [ ] closes #xxxx\r\n- [ ] tests added / pass...
2,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/29334,516453516,MDExOlB1bGxSZXF1ZXN0MzM1NzA4NDg0,29334,BUG: assignment to multiple columns when some ...,...,None,[],None,0,2019-11-02T03:19:42Z,2019-11-02T06:02:15Z,None,CONTRIBUTOR,{'url': 'https://api.github.com/repos/pandas-d...,- [x] closes #13658\r\n- [x] tests added / pas...
3,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/29333,516449884,MDExOlB1bGxSZXF1ZXN0MzM1NzA1Mjkw,29333,CLN: type annotations,...,None,[],None,0,2019-11-02T03:03:05Z,2019-11-02T06:00:00Z,None,MEMBER,{'url': 'https://api.github.com/repos/pandas-d...,Separating these out from the non-CLN work goi...
4,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/29332,516422154,MDExOlB1bGxSZXF1ZXN0MzM1NjgwOTkw,29332,maybe_upcast_putmask: require other to be a sc...,...,None,[],None,0,2019-11-02T00:56:50Z,2019-11-02T00:56:50Z,None,MEMBER,{'url': 'https://api.github.com/repos/pandas-d...,ATM all places where we use `maybe_upcast_putm...
5,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/29331,516412781,MDExOlB1bGxSZXF1ZXN0MzM1NjcyNzc2,29331,REF: implement maybe_promote_scalar,...,None,[],None,0,2019-11-02T00:19:48Z,2019-11-02T00:19:48Z,None,MEMBER,{'url': 'https://api.github.com/repos/pandas-d...,Narrowing down the set of cases where we have ...
6,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/29330,516404182,MDU6SXNzdWU1MTY0MDQxODI=,29330,conda env create --file environment.yaml Fails...,...,None,[],None,0,2019-11-01T23:49:33Z,2019-11-01T23:49:33Z,None,MEMBER,NaN,Noticed this when rebuilding dev environment f...
7,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/29329,516381078,MDExOlB1bGxSZXF1ZXN0MzM1NjQ1NTI0,29329,WEB: Fix extension of about/index,...,None,[],None,1,2019-11-01T22:35:44Z,2019-11-02T07:17:31Z,None,NONE,{'url': 'https://api.github.com/repos/pandas-d...,- [✓] closes #29325\r\n- [✓] whatsnew: the abo...
8,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/29328,516368423,MDU6SXNzdWU1MTYzNjg0MjM=,29328,TO_CSV Compression with dict arguement release...,...,None,[],None,6,2019-11-01T22:00:23Z,2019-11-01T23:22:58Z,None,NONE,NaN,Docstring for TO_CSV from my repo\r\n\r\n> ...
9,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/29327,516357024,MDExOlB1bGxSZXF1ZXN0MzM1NjI0ODc0,29327,CLN: fix mypy warnings/errors,...,None,[],None,3,2019-11-01T21:31:05Z,2019-11-02T02:37:12Z,None,MEMBER,{'url': 'https://api.github.com/repos/pandas-d...,When I run `mypy pandas` locally I get a handf...
10,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/29326,516346956,MDU6SXNzdWU1MTYzNDY5NTY=,29326,df.to_hdf with mode='a' fails on external driv...,...,None,[],None,1,2019-11-01T21:05:21Z,2019-11-01T21:13:18Z,None,NONE,NaN,"#### Code Sample, a copy-pastable example if p..."
11,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/29325,516329552,MDU6SXNzdWU1MTYzMjk1NTI=,29325,WEB: about/index has the extension wrong,...,None,[],None,2,2019-11-01T20:27:09Z,2019-11-01T22:30:12Z,None,MEMBER,NaN,xref: https://github.com/pandas-dev/pandas/iss...
12,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/29323,516257362,MDU6SXNzdWU1MTYyNTczNjI=,29323,pd.Series.apply can't be made to produce Serie...,...,None,[],None,0,2019-11-01T17:47:44Z,2019-11-01T17:47:44Z,None,NONE,NaN,#### Code Sample\r\n\r\n```python\r\n\r\ndf = ...
13,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/29322,516232659,MDExOlB1bGxSZXF1ZXN0MzM1NTE5MjA2,29322,release gil more,...,None,[],None,1,2019-11-01T16:58:09Z,2019-11-02T03:33:08Z,None,MEMBER,{'url': 'https://api.github.com/repos/pandas-d...,cc @mroeschke since a lot of this touches libw...
14,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/29321,516133647,MDU6SXNzdWU1MTYxMzM2NDc=,29321,Pandas dataframe sub-setting returns NaN's whe...,...,None,[],None,0,2019-11-01T14:06:36Z,2019-11-01T14:13:48Z,None,NONE,NaN,"#### Code Sample, a copy-pastable example if p..."
15,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/29320,515998157,MDU6SXNzdWU1MTU5OTgxNTc=,29320,Unable to install pandas on python 3.8 [Window...,...,None,[],None,2,2019-11-01T09:18:19Z,2019-11-01T16:59:39Z,None,NONE,NaN,#### Problem description\r\n\r\nI am using the...
16,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/29317,515958646,MDExOlB1bGxSZXF1ZXN0MzM1MzEwMjk3,29317,fix bugs cause replacer's dtype not respected,...,None,[],None,0,2019-11-01T07:40:33Z,2019-11-01T07:40:33Z,None,CONTRIBUTOR,{'url': 'https://api.github.com/repos/pandas-d...,- [x] closes #26632\r\n- [x] tests added / pa...
17,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/29315,515838142,MDU6SXNzdWU1MTU4MzgxNDI=,29315,Fix SS03 Issues in Docstrings,...,None,[],None,2,2019-11-01T00:25:34Z,2019-11-01T19:56:13Z,None,NONE,NaN,Running the following:\r\n```scripts/validate_...
18,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/29314,515830413,MDExOlB1bGxSZXF1ZXN0MzM1MjIxOTcz,29314,CLN: assorted cleanups,...,None,[],None,3,2019-11-01T00:06:31Z,2019-11-02T02:17:49Z,None,MEMBER,{'url': 'https://api.github.com/repos/pandas-d...,
19,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/29311,515419856,MDU6SXNzdWU1MTU0MTk4NTY=,29311,PERF: regression in MultiIndex get_loc indexin...,...,None,[],{'url': 'https://api.github.com/repos/pandas-d...,2,2019-10-31T13:08:40Z,2019-10-31T15:42:04Z,None,MEMBER,NaN,From our benchmarks (`GetLoc` class in https:/...
20,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/29310,515393259,MDU6SXNzdWU1MTUzOTMyNTk=,29310,HDF file compression not working,...,None,[],None,1,2019-10-31T12:29:24Z,2019-11-01T19:49:24Z,None,CONTRIBUTOR,NaN,xref https://github.com/pandas-dev/pandas/pull...
21,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/29309,515344684,MDU6SXNzdWU1MTUzNDQ2ODQ=,29309,"API: how to create a ""shallow copy"" of a DataF...",...,None,[],None,1,2019-10-31T11:07:33Z,2019-10-31T12:29:12Z,None,MEMBER,NaN,How can you create a copy of the DataFrame wit...
22,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/29305,515079567,MDExOlB1bGxSZXF1ZXN0MzM0NTk2OTEx,29305,CLN: tighten Exception catching in indexing.py,...,None,[],{'url': 'https://api.github.com/repos/pandas-d...,4,2019-10-31T01:00:28Z,2019-10-31T16:11:47Z,None,MEMBER,{'url': 'https://api.github.com/repos/pandas-d...,get rid of is_lexsorted_for_tuple while we're ...
23,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/29298,515035783,MDExOlB1bGxSZXF1ZXN0MzM0NTU5NTg4,29298,CLN: unnecessary exception catching,...,None,[],None,0,2019-10-30T22:54:05Z,2019-10-31T15:23:32Z,None,MEMBER,{'url': 'https://api.github.com/repos/pandas-d...,adding an index to the exception is a nice tho...
24,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/29297,514917011,MDU6SXNzdWU1MTQ5MTcwMTE=,29297,TypeError when setting MultiIndex in DataFrame,...,None,[],None,1,2019-10-30T19:11:07Z,2019-10-30T20:31:17Z,None,NONE,NaN,#### Code Sample\r\n\r\n```python\r\nfrom pand...
25,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/29293,514768358,MDExOlB1bGxSZXF1ZXN0MzM0MzM2NzE4,29293,Implement safe_ea_cast to avoid catching Excep...,...,None,[],None,1,2019-10-30T15:33:56Z,2019-11-01T21:34:49Z,None,MEMBER,{'url': 'https://api.github.com/repos/pandas-d...,instead of having `except Exception` in many p...
26,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/29290,514710577,MDU6SXNzdWU1MTQ3MTA1Nzc=,29290,Unexpected behaviour of uint dtype,...,None,[],None,2,2019-10-30T14:21:49Z,2019-10-31T15:46:40Z,None,NONE,NaN,"#### Code Sample, a copy-pastable example if p..."
27,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/29288,514705911,MDExOlB1bGxSZXF1ZXN0MzM0MjgzMjEz,29288,Fix missing tick labels on twinned axes.,...,None,[],None,4,2019-10-30T14:16:32Z,2019-11-02T00:30:01Z,None,NONE,{'url': 'https://api.github.com/repos/pandas-d...,## Background:\r\n\r\nMulti-row and/or multi-c...
28,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/29284,514682672,MDU6SXNzdWU1MTQ2ODI2NzI=,29284,combination of groupby & nlargest gives differ...,...,None,[],None,0,2019-10-30T13:47:11Z,2019-10-30T15:31:59Z,None,NONE,NaN,"#### Code Sample, a copy-pastable example if p..."
29,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/29282,514511056,MDU6SXNzdWU1MTQ1MTEwNTY=,29282,Inconsistency of copy and selection methods of...,...,None,[],None,0,2019-10-30T09:23:51Z,2019-10-30T09:25:00Z,None,NONE,NaN,#### Example\r\n\r\n```python\r\n# Creation of...

# Database sqlite3

In [45]:
import sqlite3

In [83]:
query = """
CREATE TABLE test(
a VARCHAR(20), 
b VARCHAR(20),
c REAL,
d INTEGER);
"""

In [82]:
con = sqlite3.connect('mydata.sqlite')
con.execute(query)

OperationalError: table test already exists

In [52]:
data = [('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
('Sacramento', 'California', 1.7, 5)]

stmt = "INSERT INTO test VALUES(?, ?, ?, ?)"

In [55]:
con.executemany(stmt,data)
con.commit()

In [86]:
cursor = con.execute('select * from test')

In [85]:
rows = cursor.fetchall()

In [87]:
rows

[('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5),
 ('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5)]

In [76]:
pd.DataFrame(rows, columns= [x[0] for x in cursor.description])

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5
3      Atlanta     Georgia  1.25  6
4  Tallahassee     Florida  2.60  3
5   Sacramento  California  1.70  5

In [77]:
import sqlalchemy as sqla

In [78]:
db = sqla.create_engine('sqlite:///mydata.sqlite')

In [80]:
pd.read_sql('select * from test', db)

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5
3      Atlanta     Georgia  1.25  6
4  Tallahassee     Florida  2.60  3
5   Sacramento  California  1.70  5

In [90]:
query= """
CREATE TABLE Student(
Student_Name VARCHAR(20),
AIC NUMBER,
CENTER VARCHAR(20),
TIMMINGS INTEGER,
QUATAR INTEGER
);
"""

In [91]:
con.execute(query)

In [123]:
data = [("Asalan",123,"a",2,2),
       ("Shoaib",456,"b",5,3),
       ("Adil",789,"c",7,1),
       ("Humayu",101,"d",9,2),
       ("Asalan",55,"a",2,2),
       ("Shoaib",46,"b",5,3),
       ("Adil",666,"c",7,1),
       ("Humayu",701,"d",9,2)]

In [124]:
stmt = "INSERT INTO Student VALUES(?, ?, ?, ?, ?)"

In [125]:
con.executemany(stmt,data)
con.commit()

In [126]:
cursor = con.execute("select * from Student")

In [127]:
rows= cursor.fetchall()

In [128]:
pd.DataFrame(rows, columns=[x[0] for x in cursor.description])

  Student_Name  AIC CENTER  TIMMINGS  QUATAR
0       Asalan  123      a         2       2
1       Shoaib  456      b         5       3
2         Adil  789      c         7       1
3       Humayu  101      d         9       2
4       Asalan   55      a         2       2
5       Shoaib   46      b         5       3
6         Adil  666      c         7       1
7       Humayu  701      d         9       2

# Data Cleaning and Preperation Chapter 7

In [133]:
import pandas as pd
import numpy as np

In [134]:
string_data = pd.Series(['aardvark', 'artichoke', np.nan, 'avocado'])

In [135]:
string_data.isnull()

0    False
1    False
2     True
3    False
dtype: bool

In [137]:
string_data[0]=None
string_data.isnull()

0     True
1    False
2     True
3    False
dtype: bool

In [138]:
string_data.isna()

0     True
1    False
2     True
3    False
dtype: bool

In [139]:
from numpy import nan as NA

In [155]:
data = pd.Series([1,6,NA, 5,4, NA,NA , 4])
data

0    1.0
1    6.0
2    NaN
3    5.0
4    4.0
5    NaN
6    NaN
7    4.0
dtype: float64

In [156]:
data.dropna()

0    1.0
1    6.0
3    5.0
4    4.0
7    4.0
dtype: float64

In [157]:
data[data.notnull()]

0    1.0
1    6.0
3    5.0
4    4.0
7    4.0
dtype: float64

In [158]:
datas = pd.DataFrame([[1., 6.5, 3.], [1., NA, NA],[NA, NA, NA], [NA, 6.5, 3.]])

In [161]:
datas

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

In [171]:
cleaned = datas.dropna(how='all')  #drop only those rows which having all value NaN

In [172]:
cleaned

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
3  NaN  6.5  3.0

In [176]:
df = pd.DataFrame(np.random.randn(7, 3))
df

          0         1         2
0 -0.423174 -0.369062  1.617061
1 -0.842339 -2.167837 -1.926220
2 -1.208264  0.289879 -0.387117
3  0.425099 -1.783501  1.365271
4  1.739124  1.660218 -2.112763
5  1.068740 -0.282509  0.718587
6  1.771921  0.462661 -0.270347

In [182]:
df.iloc[:4, 1] =NA
df.iloc[:2, 2] = NA
df

          0         1         2
0 -0.423174       NaN       NaN
1 -0.842339       NaN       NaN
2 -1.208264       NaN -0.387117
3  0.425099       NaN  1.365271
4  1.739124  1.660218 -2.112763
5  1.068740 -0.282509  0.718587
6  1.771921  0.462661 -0.270347

In [183]:
df.dropna()

          0         1         2
4  1.739124  1.660218 -2.112763
5  1.068740 -0.282509  0.718587
6  1.771921  0.462661 -0.270347

In [186]:
df

          0         1         2
0 -0.423174       NaN       NaN
1 -0.842339       NaN       NaN
2 -1.208264       NaN -0.387117
3  0.425099       NaN  1.365271
4  1.739124  1.660218 -2.112763
5  1.068740 -0.282509  0.718587
6  1.771921  0.462661 -0.270347

In [193]:
df.dropna(thresh=1 )  # returns all rows in which specified number of non-NaN value exists

          0         1         2
0 -0.423174       NaN       NaN
1 -0.842339       NaN       NaN
2 -1.208264       NaN -0.387117
3  0.425099       NaN  1.365271
4  1.739124  1.660218 -2.112763
5  1.068740 -0.282509  0.718587
6  1.771921  0.462661 -0.270347

In [196]:
df.fillna({1:3, 2:1})  # fill NaN of coloumn: with given Number

          0         1         2
0 -0.423174  3.000000  1.000000
1 -0.842339  3.000000  1.000000
2 -1.208264  3.000000 -0.387117
3  0.425099  3.000000  1.365271
4  1.739124  1.660218 -2.112763
5  1.068740 -0.282509  0.718587
6  1.771921  0.462661 -0.270347

In [210]:
datta = pd.DataFrame(np.random.rand(6,3))
datta.iloc[2:,1]=NA
datta.iloc[4:5,2]=NA
datta

          0         1         2
0  0.331607  0.966894  0.114053
1  0.476027  0.736684  0.314110
2  0.622180       NaN  0.474396
3  0.575740       NaN  0.990026
4  0.817911       NaN       NaN
5  0.378771       NaN  0.000250

In [211]:
datta.fillna(method="ffill")

          0         1         2
0  0.331607  0.966894  0.114053
1  0.476027  0.736684  0.314110
2  0.622180  0.736684  0.474396
3  0.575740  0.736684  0.990026
4  0.817911  0.736684  0.990026
5  0.378771  0.736684  0.000250

In [212]:
datta.fillna(method="bfill")

          0         1         2
0  0.331607  0.966894  0.114053
1  0.476027  0.736684  0.314110
2  0.622180       NaN  0.474396
3  0.575740       NaN  0.990026
4  0.817911       NaN  0.000250
5  0.378771       NaN  0.000250

In [214]:
datta.fillna(datta.mean())

          0         1         2
0  0.331607  0.966894  0.114053
1  0.476027  0.736684  0.314110
2  0.622180  0.851789  0.474396
3  0.575740  0.851789  0.990026
4  0.817911  0.851789  0.378567
5  0.378771  0.851789  0.000250

In [215]:
data = pd.DataFrame({'k1': ['one', 'two'] * 3 + ['two'],'k2': [1, 1, 2, 3, 3, 4, 4]})